{%extends "page_base.html"%} {%block css%}
<link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
{%endblock%}
{%block content%}
<h1>About Us</h1>
<p>Cinematix is a film website. It is founded by Vidadi Nasibov, in 2020. Our job is to give you a safety and comfortable experience.</p>

<h3>Which movies you can find?</h3>
<p>You love Thriller, Sci-Fi or Drama? You can find too many best and latest films on this website. We select all the films specially to make you enjoy.</p>
{%endblock%}