{%extends "sign_base.html"%} {%block form%}
<form method="POST" id="login-form">
    {{form.csrf_token}}
    <h1>Login</h1>
    <div class="form-field">
        <label for="email">Email</label>
        <input type="text" placeholder="Email..." id="email" name="email" required />
    </div>
    <div class="form-field">
        <label for="password">Password</label>
        <input type="password" placeholder="Password..." id="password" name="password" required />
    </div>
    <div class="form-field info">
        <p>Not have an account? <a href="/register">Create one</a></p>
    </div>
    <div class="form-field">
        <button type="submit" class="btn-primary">Login</button>
    </div>
</form>
{%endblock%}
